.item {
    width: 300px;
    max-width: 300px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.card-header {
    background-color: black;
    color: white;
}

.card-header span {
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    top: 10px;
}

.card-body {
    background-color: whitesmoke;
}

.card-body input {
    width: 100px;
    text-align: center;
}

.card-body button {
    border: none;
    outline: 0;
    width: 80px;
    background-color: black;
    color: white;
    margin-left: 70px;
}

.card-body button:focus {
    outline: 0;
}

.card-body button:hover {
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

span.item-price {
    position: relative;
    font-size: 0.7em;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple:before {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

.ripple:focus:before {
    transition: all 0.5s ease-out;
    opacity: 0;
    width: 160px;
    height: 160px;
    margin-top: -80px;
    margin-left: -80px;
}